.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.hamburger .fa-solid:hover {
  color: #42bff5;
  cursor: pointer;
}

.underline {
  width: 200px;
  height: 4px;
  margin: 0 auto;
  background-color: #42bff5;
}

.navbar__color {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel {
  margin: 2em 1em;
}
.carousel__title {
  margin: 2em 0;
  font-size: 1.5rem;
  text-align: center;
}
.carousel__container {
  position: relative;
  aspect-ratio: 16/9;
  border: 1px black solid;
  box-shadow: 0px 0px 8px black;
  overflow: hidden;
}
.carousel__container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s linear;
}
.carousel__container .carousel__buttons .btn-car {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 2rem;
  border-radius: 50%;
  background-color: black;
  color: ivory;
}
.carousel__container .carousel__buttons .next {
  top: 50%;
  right: 2%;
}
.carousel__container .carousel__buttons .previous {
  top: 50%;
  left: 2%;
}

.photo__text {
  font-size: 1.4rem;
  padding: 0 1em;
}

.photoshoots {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  font-size: 1.5rem;
}
.photoshoots-item {
  margin: 0.5em 0;
}
.photoshoots-item i {
  color: #42bff5;
  margin: 0 1em;
  border-radius: 50%;
  padding: 0.5em;
  background-color: #fff;
}
.photoshoots-item a {
  margin: 0 2em;
  text-decoration: none;
  color: black;
}
.photoshoots-item a:hover {
  color: #42bff5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
}

body {
  background-color: #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.fa-solid {
  transition: 0.3s;
}

.hero-img {
  position: relative;
  top: 0;
  left: 0;
  background-image: url("../img/NIK_4566.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
}
.hero-img .hero-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 4px #ddd;
}
.hero-img .hero-text h2 {
  color: lightcyan;
  font-size: 4rem;
}
.hero-img .hero-text h2 span {
  color: #42bff5;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero-img .hero-text p {
  font-size: 1.5rem;
  color: #ddd;
}
.hero-img .hero-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.hero-img .hero-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: #ddd;
  font-size: 3rem;
  cursor: pointer;
}
.hero-img .hero-btn:hover {
  color: #42bff5;
}

.nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.nav__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__container .hamburger {
  font-size: 1.5em;
}
.nav__container .logo {
  font-size: 2em;
  color: #42bff5;
  letter-spacing: 1px;
}
.nav__container .logo h1 {
  font-size: 25px;
}
.nav__container .logo h1 span {
  text-transform: uppercase;
  color: lightcyan;
}
.nav__container .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  transition: 0.3s linear;
}
.nav__container .navbar__link {
  position: relative;
  height: 100%;
  display: block;
  text-decoration: none;
  color: #ddd;
  margin: 0 1em;
  padding: 2px 20px;
  font-size: 1.3rem;
  transition: color 0.3s linear;
  z-index: 10;
}
.nav__container .navbar__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0px;
  background-color: #fff;
  transition: height 0.4s ease-in-out;
  z-index: -5;
}
.nav__container .navbar__link:hover::after {
  height: 100%;
}
.nav__container .navbar__link:hover {
  color: black;
  text-shadow: 0px 0px 1px black;
}
.nav__container .hamburger {
  color: #fff;
  justify-content: flex-end;
  margin: 20px;
}

.main {
  background-color: #ddd;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
}
.main .zdjecia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .title-hd {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 100px;
}
.main p {
  margin: 0 auto;
}
.main .contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.main .contact-form-heading {
  font-size: 2.5em;
  margin: 2em 0;
}
.main .contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
  padding: 1em;
}
.main .contact-form form input {
  padding: 1em;
  width: 70%;
  min-width: 100px;
  border: 2px solid #aaa;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
  font-size: 1.5em;
}
.main .contact-form form input:first-child {
  width: 20%;
}
.main .contact-form form input:focus {
  border: 2px black solid;
}
.main .contact-form form .textarea {
  width: 70%;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 2.2em;
}
.main .contact-form .send-btn {
  position: relative;
  width: 20%;
  min-width: 85px;
  padding: 1em 0.2em;
  background-color: #1f2833;
  border: 1px solid #1f2833;
  border-radius: 8px;
  color: #ddd;
  overflow: hidden;
  letter-spacing: 2px;
  font-size: 1.2rem;
  cursor: pointer;
}
.main .contact-form .send-btn::after {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(245, 243, 243, 0.094);
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}
.main .contact-form .send-btn:hover::after {
  transform: translateX(300%);
}
.main .news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0rem;
}
.main .news__title {
  font-size: 1.6rem;
  margin: 2.5em 0;
}
.main .news__text {
  font-size: 1.4rem;
  margin: 15px 0;
  line-height: 2em;
}
.main .news .quote {
  font-style: italic;
  font-size: 1.4rem;
  margin: 2em 0;
}
.main .news span {
  color: cadetblue;
  font-size: 1rem;
}
.main .news .quote::before {
  content: open-quote;
  font-size: 3rem;
  color: cadetblue;
}
.main .news .quote::after {
  content: close-quote;
  font-size: 3rem;
  color: cadetblue;
}
.main .news .date-time {
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 0;
  color: var(--blue);
  font-weight: bold;
  text-decoration: underline;
}
.main .news .news__image {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .news .news__image img {
  width: 100%;
  box-shadow: 0px 0px 3px #1f2833;
}
.main .news .news__image figcaption {
  margin: 9px;
  font-size: 1rem;
}
.main .blog__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .blog__container .blog__item {
  position: relative;
  margin: 0 2em;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  border: 1px black solid;
  box-shadow: 0px 0px 8px #1f2833;
  transition: transform 0.4s ease-in-out;
}
.main .blog__container .blog__item:hover {
  transform: scale(1.01);
}
.main .blog__container .blog__item-heading {
  padding: 1em 1em;
  font-size: 1.1rem;
}
.main .blog__container .blog__item-text {
  padding: 1em 1.1em;
  font-size: 1.1rem;
  margin-bottom: 1em;
}
.main .blog__container .blog__item-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 1em;
}
.main .blog__container .blog__item-btn {
  position: relative;
  background-color: #1f2833;
  color: #ddd;
  width: 85%;
  box-shadow: 1px 1px 4px #1f2833;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  overflow: hidden;
  cursor: pointer;
}
.main .blog__container .blog__item-btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  left: -40%;
  rotate: -45deg;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  transition: left 0.5s ease-in-out;
}
.main .blog__container .blog__item-btn:hover::after {
  left: 100%;
}
.main .blog__container .blog__item .blog__item-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
}
.main .btn {
  position: relative;
  width: 200px;
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom left, #42bff5, #1f2833);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 6px black;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
}
.main .btn::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -120px;
  height: 170%;
  width: 100px;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  rotate: 20deg;
  transition: left 0.6s ease-in;
}
.main .btn:hover::before {
  left: 130%;
}

.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #1f2833;
  color: #ddd;
}
.footer__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.footer__content h2 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 1.7rem;
  text-shadow: 0px 0px 2px cyan;
}

@media (min-width: 992px) {
  .nav__container .hamburger {
    display: none;
  }
}
@media (max-width: 992px) {
  .nav .nav__container {
    align-items: center;
    justify-content: space-evenly;
  }
  .nav .nav__container .navbar {
    position: absolute;
    top: 60px;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    transform: translate(100%);
  }
  .nav .nav__container .navbar li {
    width: 100%;
  }
  .nav .nav__container .navbar .navbar__link {
    display: flex;
    justify-content: center;
  }
  .nav .nav__container .navbar .navbar__link:hover {
    background-color: #42bff5;
  }
  .nav .nav__container .active {
    transform: translate(0%);
  }
  .nav .nav__container .navbar__link::after {
    opacity: 0;
  }
  .hero-img {
    height: 55vh;
    background-image: url("../img/heo-sml.jpg");
  }
  .main .title-hd {
    font-size: 1.4rem;
  }
  .main .news {
    padding: 1rem 1rem;
  }
  .main .news__text {
    font-size: 1.3rem;
  }
  .main .photo-text p {
    font-size: 1rem;
  }
  .main .blog__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .blog__container .blog__item {
    width: 100%;
    margin: 1em 1em;
  }
  .main .blog__container .blog__item-heading {
    font-size: 2em;
  }
  .main .blog__container .blog__item-text {
    font-size: 1.5em;
  }
  .main .blog__container .blog__item-btn {
    width: 50%;
  }
  .main .carousel__container .carousel__buttons .btn-car {
    font-size: 1.5rem;
  }
  .main .photoshoots {
    font-size: 1.2rem;
  }
  .footer__content h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .nav .nav__container {
    align-items: center;
    justify-content: space-evenly;
  }
  .nav .nav__container .navbar {
    position: absolute;
    top: 60px;
    right: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    transform: translate(100%);
  }
  .nav .nav__container .navbar li {
    width: 100%;
  }
  .nav .nav__container .navbar__link {
    display: flex;
    justify-content: center;
  }
  .nav .nav__container .active {
    transform: translate(0%);
  }
  .hero-img {
    height: 50vh;
    background-image: url("../img/heo-sml.jpg");
  }
  .hero-img .hero-text h2 {
    font-size: 2.2rem;
  }
  .hero-img .hero-text p {
    font-size: 1rem;
  }
  .main .title-hd {
    font-size: 1.4rem;
  }
  .main .news {
    padding: 1rem 1rem;
  }
  .main .news__text {
    font-size: 1.1rem;
  }
  .main .news .news__image {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .news .news__image img {
    width: 100%;
    box-shadow: 0px 0px 3px #1f2833;
  }
  .main .news .news__image figcaption {
    margin: 9px;
    font-size: 0.8rem;
  }
  .main .photo .photo-text p {
    font-size: 0.8rem;
  }
  .main .blog__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .blog__container .blog__item {
    width: 100%;
    margin: 1em 1em;
  }
  .main .blog__container .blog__item-heading {
    font-size: 2em;
  }
  .main .blog__container .blog__item-text {
    font-size: 1.5em;
  }
  .main .photoshoots {
    font-size: 0.9rem;
  }
  .main .carousel__title {
    font-size: 1.2rem;
  }
  .main .photo__text {
    font-size: 1.1rem;
  }
}