@use 'variables' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.hamburger {
	.fa-solid:hover {
		color: $light-blue;
		cursor: pointer;
	}
}

.navbar__color {
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
}

// linia

.news-line {
	color: #333;
	margin-top: 6em;
	height: 1px;
	border: 1px dashed #333;
}

@keyframes bouncing {
	0% {
		bottom: 10%;
	}

	50% {
		bottom: 8%;
	}

	100% {
		bottom: 10%;
	}
}
