@media (max-width: 576px) {
	.nav {
		.nav__container {
			align-items: center;

			justify-content: space-between;

			.navbar {
				position: absolute;

				top: 60px;
				right: 0;
				height: 100vh;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				transform: translate(100%);

				li {
					width: 100%;
				}
				&__link {
					display: flex;
					justify-content: center;
				}
			}
			.active {
				transform: translate(0%);
			}
		}
	}

	.hero-img {
		height: 100vh;
		background-image: url('../img/heo-sml.jpg');

		.hero-text {
			h2 {
				font-size: 2.2rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}

	.main {
		.title-hd {
			font-size: 1.4rem;
		}

		.news {
			padding: 1rem 1rem;
			margin: 2em 0;

			.date-time {
				font-size: 0.7rem;
			}

			&__text {
				font-size: 0.9rem;
			}

			.news-item {
				margin: 3em 0;
			}
			
			.news__image {
				width: 100%;
				margin-top: 30px;
				margin-bottom: 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				img {
					width: 100%;
					box-shadow: 0px 0px 3px $dark-blue;
				}

				figcaption {
					margin: 9px;
					font-size: 0.8rem;
				}
			}
		}

		.photo {
			.photo-text {
				p {
					font-size: 0.8rem;
				}
			}
		}

	.blog__container {
			
			display: flex;
			flex-direction: column;
			align-items: center;

			.blog__item {
				width: 320px;
				height: 570px;
				

				&-heading {
					font-size: 1rem;
				}

				&-text {
					font-size: .9rem;
				}

				&-btn {
					bottom: 2%;
					width: 12em;
					font-size: .7rem;
				}
			}
		}

		.photoshoots {
			font-size: 0.7rem;
		}

		.carousel__title {
			font-size: 1.2rem;
		}

		.photo__text {
			font-size: 1rem;
		}

		.gallery {
			display: flex;
			flex-direction: column;
		}
	}

	// .gallery {
	// 	grid-template-columns: 1fr 1fr 1fr;
	// 	grid-template-rows: 1fr;
	// }
}
